@import "../../../globalSCSS/color.scss";
@import "../../../globalSCSS/size.scss";

.message {
  margin: $margin1;
}

/*
.bullet-blue {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 7.5px 7.5px 0 0 $blue;
    position: relative;
    bottom:70px;

  }

.bullet-gray {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: -7.5px 7.5px 0 0 $grayLight;
    position: relative;
    right:12px;
    bottom:10px;

  }
*/

.text-box-blue {
    width: $messageWidth;
    min-height: $messageMinHeight;
    border-radius: $normal;
    position:relative;
    background: $blue;
    z-index: 2;
  }

.text-box-gray {
    width: $messageWidth;
    min-height: $messageMinHeight;
    border-radius: $normal;
    background: $grayLight;
    z-index: 2;
  }

.text-box-blue p {
    color: $white;
    font-size: $normal;
    text-align: left;
    padding: $margin2;
}

.text-box-gray p {
  color: $black;
  font-size: $normal;
  text-align: right;
  padding: $margin2;
}