.message {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.bullet-blue {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 7.5px 7.5px 0 0 #39f;
    position: relative;
    bottom:70px;

  }

.bullet-gray {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: -7.5px 7.5px 0 0 #ddd;
    position: relative;
    right:12px;
    bottom:10px;

  }

.text-box-blue {
    width: 250px;
    min-height: 50px;
    border-radius: 8px;
    position:relative;
    left:24px;
    background: #39f;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    z-index: 2;
  }

.text-box-gray {
    width: 250px;
    min-height: 50px;
    border-radius: 8px;
    background: #ddd;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    z-index: 2;
  }

.text-box-blue p {
    color: #fefefe;
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

.text-box-gray p {
  color: #121212;
  font-size: 12px;
  text-align: right;
  padding: 10px;
}