@import "./globalSCSS/color.scss";

body {
    padding: 0;
    margin: 0;
    background-color: $background;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 p:last-child {
    margin-bottom: 0;
  }
  
  h1 {
    font-weight: 300;
  }
  
  .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  input {
    margin: 5px;
  }

  button {
    margin:2px;
  }

  .orange {
    background: $orange;
  }

  .green {
    background: $green;
  }

  .red {
    background: $red;
  }