body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    body {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
 p:last-child {
    margin-bottom: 0;
  }
  
  h1 {
    font-weight: 300;
  }
  
  .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  button {
    margin:2px;
  }