$blue: #0069D8;
$green: #218838;

$background:#fefefe;
$header: rgb(39,45,57);
$footer: #223;

$white: #fefefe;
$black: #0a0a0a;

$grayDark: #343A40;
$gray: rgb(148, 148, 148);
$grayLight: #ececec;

$color1:rgb(38,34,98);
$color2:rgb(193,61,123);
$color3:rgb(20,20,20);
$color4:rgb(201,2,69);
$color5:rgb(38,28,92);
$color6:rgb(0,209,158);