@import "../../globalSCSS/color.scss";
@import "../../globalSCSS/size.scss";


.card {
    width: 250px;
    height: 150px;
    margin: $margin2;
    background: $grayLight;
    border: none;
    border-radius: $normal;
    display: flex;
    flex-direction: row;

    & .header {
        width: 100px;
        height: 100%;
        border-radius: $normal;
        background: $blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .picture {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: $grayLight;
            margin-bottom: $margin1;
        }

        & h1 {
            font-size: $big;
            color: $white;
            margin-top: $margin1;
        }
    }

    & .scores {
        width: 150px;

        & .other {
            margin-top: $margin1;
            margin-left: 10px;;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
        
            & .round {
                width: 25px;
                height: 25px;
                background: $gray;
                border-radius: 50%;
                margin-right: $margin1;
            }
        }
        
        & .bars {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
        
            & .progress-container {
                background: $white;
                height: 100px;
                width: 10px;
                margin: 8px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
        
                & .score {
                    width: 100%;
                    height: 30%;
                    border-radius: 10px;
                    background: $green;
                }
            }
        }
    }

}

